<div class="left" fxLayout fxLayoutAlign="left" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="50%">
    <mat-card class="full box">
      <mat-card-header>
        <mat-card-title>Select Table</mat-card-title>
      </mat-card-header>
      <!-- <button mat-button *ngFor="let table of tables" (click)="_onClickTable(table.TABLE_NAME)">{{table.TABLE_NAME}}</button> -->
      <mat-form-field appearance="outline">
        <mat-label>Select Table</mat-label>
        <mat-select placeholder="Select Table" [(ngModel)]="table_name" name="item" #select (selectionChange)="_onSelectTable(table_name)">
          <mat-option *ngFor="let table of tables" [value]="table.TABLE_NAME">
            {{table.TABLE_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card><br>
  </div>
  <div fxFlex="50%">
    <mat-card class="full box">
      <mat-card-header>
        <mat-card-title>Procedure Type</mat-card-title>
      </mat-card-header>
      <mat-form-field appearance="outline">
        <mat-label>Select Create or Update</mat-label>
        <mat-select placeholder="Select Procedure Type" [(ngModel)]="procedure_type" name="item">
          <mat-option value="UPDATE">
            UPDATE
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
</div>
<div class="left" fxLayout fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="isSelectTable"> 
  <div fxFlex="100%" class="full">
    <table id="customers" class="">
      <th>No.</th>
      <th>Column name</th>
      <th>PC_PARAMS | <mat-checkbox [(indeterminate)]="indeterminate" [checked]="paramsChecked" (change)="_parameter_check_all()" >check all</mat-checkbox>
      </th>
      <th>assign value | <mat-checkbox [(indeterminate)]="indeterminate_value" [checked]="valueChecked" (change)="_insert_record_check_all()">check all</mat-checkbox>
      </th>
      <th>default value</th>

      <tr *ngFor="let column of update_array; let i = index">
        <td>
          {{i + 1}}
        </td>
        <td>{{column.COLUMN_NAME}}</td>
        <td>
          <mat-checkbox [checked]="column.isParamsChecked" (change)="_parameter_check_single(i)"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox [checked]="column.isValueChecked" (change)="_value_check_single(i)"></mat-checkbox>
        </td>
        <td class="full">

            <mat-form-field appearance="outline">
                <mat-label>default</mat-label>
                <input matInput (input)="_add_default_value(i,default.value)" #default>
              </mat-form-field>
          

        </td>
      </tr>

    </table>
  </div>
</div>

<br>
<div class="left" fxLayout fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="100%" class="full">
    <button mat-raised-button (click)="_generate_create()">Go</button>
  </div>
</div>
<br>
<div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="isGenerateCode">
    <div class="item item-1" fxFlex="100%">
      <mat-card class="full box">
        <h3>Procedure code is here</h3>
        <button mat-raised-button (click)="copy()" style="width: 10%; left: 90%; top: 0%;">Copy</button>
        <pre (click)="copy()"><code [highlight]="code" (highlighted)="onHighlight($event)"></code></pre>
  
      </mat-card>
    </div>
  </div>