<div class="left" fxLayout fxLayout.xs="row" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="25%">
    <mat-card class="full box">
      <mat-card-header>
        <mat-card-title>Select Table</mat-card-title>
      </mat-card-header>
      <!-- <button mat-button *ngFor="let table of tables" (click)="_onClickTable(table.TABLE_NAME)">{{table.TABLE_NAME}}</button> -->
      <mat-form-field appearance="outline">
        <mat-label>Select Table</mat-label>
        <mat-select placeholder="Select Table" [(ngModel)]="table_name" name="item" #select (selectionChange)="_onSelectTable(table_name)">
          <mat-option *ngFor="let table of tables" [value]="table.TABLE_NAME">
            {{table.TABLE_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card><br>
  </div>
  <div fxFlex="25%">
    <mat-card class="full box">
      <mat-card-header>
        <mat-card-title>HTTP REQUEST TYPE</mat-card-title>
      </mat-card-header>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="_selectHttpType()" placeholder="Select type" [(ngModel)]="http_type" name="item">
          <mat-option  value="all">
            ALL
          </mat-option>
          <mat-option  value="get">
            GET
          </mat-option>
          <mat-option  value="post">
            POST
          </mat-option>
          <mat-option  value="put">
            PUT
          </mat-option>
        </mat-select>
      </mat-form-field>
 
      
      <mat-form-field appearance="outline" *ngIf="http_type == 'get'">
        <mat-label>Get Parameter</mat-label>
        <mat-select placeholder="" [(ngModel)]="column_name_for_get_parameter" name="item"   multiple>
          <mat-option *ngFor="let column of column_name_for_select_get_parameter; let i = index" [value]="column.COLUMN_NAME" (onSelectionChange)="_onAddParameterFieldForPut(i)">
            {{column.COLUMN_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
   
     <!--  <mat-form-field appearance="outline">
        <mat-label>Select Create or Update</mat-label>
        <mat-select placeholder="Select Procedure Type" [(ngModel)]="procedure_type" name="item">
          <mat-option value="CREATE">
            CREATE
          </mat-option>
          <mat-option value="UPDATE ">
            UPDATE
          </mat-option>
        </mat-select>
      </mat-form-field> -->
     
    </mat-card>

  </div>
  <div class="item item-1" fxFlex="25%">
    <mat-card class="full box">
      <mat-card-header>
        <mat-card-title>Select Column</mat-card-title>
      </mat-card-header>
      <mat-radio-group>
        <mat-radio-button [checked]="check_all" (change)="_checkAll()" value="checkall">Check All</mat-radio-button>&nbsp;
        <mat-radio-button [checked]="check_none" (change)="_uncheckAll()" value="unckeckall">Uncheck All</mat-radio-button>&nbsp;
        <mat-radio-button [checked]="check_manual" value="manual">Manual</mat-radio-button>
      </mat-radio-group>
      <br>
      <br>
      <mat-divider>
      </mat-divider><br>
      <ul *ngFor="let column of new_column_name; let i = index">

        <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div class="item item-1" fxFlex="50%">
            <mat-checkbox [checked]="column.isChecked" (change)="_checkIndividual(i)">{{column.COLUMN_NAME}}</mat-checkbox>

          </div>
          <!-- <div class="full" fxFlex="20%">
            <mat-form-field appearance="outline">
              <mat-label>Default Value</mat-label>
              <input matInput placeholder="default value" (input)="_onEditDefaultValue(default_value.value, i)" value={{column.defaultValue}}
                #default_value>
            </mat-form-field>


          </div> -->
        </div>
      </ul> 
<!-- 
       <mat-form-field>
        <mat-select placeholder="Placeholder"  name="item" multiple>
          
          <mat-option *ngFor="let col of new_column_name;let i = index" [value]="col.value"   (onSelectionChange)="_checkIndividual(i)">
            {{col.COLUMN_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


      <!--     <h1>All Column Status</h1>
      {{new_column_name | json}}
  
      <h1>checked columns</h1>
      {{checked_column | json}} -->
    </mat-card><br>

  </div>

  <div fxFlex="25%">
    <mat-card class="full box">
      <button mat-raised-button (click)="_generateControllerCode()">Generate</button>
    </mat-card>
  </div>

</div><br>
<div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%">
    <mat-card class="full box">
      <h3>Database api code is here</h3>
      <button mat-stroked-button (click)="copy_db()" style="width: 10%; left: 90%; top: 0%;">Copy</button>
      <pre (click)="copy_db()"><code [highlight]="code_db_api"  (highlighted)="onHighlight($event)"></code></pre>
      
    </mat-card>
  </div>
  <div class="item item-1" fxFlex="50%">
      <mat-card class="full box"> 
        <h3>Controller code is here</h3>
        <button mat-stroked-button style="width: 10%; left: 90%; top: 0%;" (click)="copy_controller()">Copy</button>
        <pre (click)="copy_controller()"><code [highlight]="code_controller" (highlighted)="onHighlight($event)"></code></pre>
        
      </mat-card>
    </div>
</div>
<div class="left" fxLayout fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
<div fxFlex="50%" class="full">
    <mat-card class="full box">
        <h3>Body for test</h3>
        <button mat-stroked-button (click)="copy_body()" style="width: 10%; left: 90%; top: 0%;">Copy</button>
        <pre (click)="copy_body()"><code [highlight]="code_body"  (highlighted)="onHighlight($event)"></code></pre>
        
      </mat-card>
</div>
</div>

<!-- <share-buttons show="11"></share-buttons> -->

