<div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="30%">
      <mat-card class="full box">
          <mat-form-field appearance="outline"> 
            <mat-label>Host Name or IP Address</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field appearance="outline"> 
            <mat-label>Username</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field appearance="outline"> 
            <mat-label>Password</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
         <button mat-raised-button>text</button>
      </mat-card>
  </div>
</div>